@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap";

* {
    font-family:'Montserrat',sans-serif
}

.show_card {
    background-color:#2b2b30;
    margin:0 auto;
    transition:transform .2s;
    z-index:1
}

.show_card:hover {
    animation-duration:1s;
    animation-name:show_card;
    transform:scale(1.02)
}

.add_show:hover {
    background-color:#095a3d
}

.remove_show:hover {
    background-color:#471616
}

.avatar {
    align-items:center;
    border-radius:50%;
    display:flex;
    font-size:0;
    justify-content:center;
    overflow:hidden
}

.navbar {
    box-shadow:0 5px 25px 0 rgba(0,0,0,0.3)
}

h1,p {
    color:#fff
}

h1.section__title {
    font-weight:200;
    margin-top:10px;
    position:relative
}

h1.section__title_wl {
    font-weight:200;
    margin-bottom:15px;
    margin-top:10px;
    position:relative
}

h2.section__subtitle {
    color:#d7335c;
    margin-bottom:10px;
    margin-top:10px
}

.section__title::after {
    background-image:linear-gradient(236deg,rgba(238,150,30,1) 0%,rgba(253,45,103,1) 100%);
    box-shadow:0 0 10px 0 rgba(255,88,96,0.37);
    content:'';
    display:block;
    height:2px;
    margin-bottom:25px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    width:20vh
}

.text_gradient {
    background:#ee961e;
    background:linear-gradient(236deg,rgba(238,150,30,1) 0%,rgba(253,45,103,1) 100%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent
}

a {
    color:#fd9100;
    transition:.4s ease
}

a:hover {
    color:#d7335c
}

html,.navbar,.navbar.is-dark {
    background-color:#2b2b30
}

button.header__sign-in {
    align-items:center;
    background-image:linear-gradient(236deg,rgba(238,150,30,1) 0%,rgba(253,45,103,1) 100%);
    border:none;
    border-radius:4px;
    box-shadow:0 0 20px 0 rgba(255,88,96,0.5);
    cursor:pointer;
    display:flex;
    height:40px;
    justify-content:center;
    margin-left:20px;
    opacity:.85;
    width:140px
}

@media screen and (min-width: 1024px) {
    .navbar-start > a.navbar-item {
        color:rgba(255,255,255,0.75)!important
    }
}

a.navbar-item {
    font-size:14px;
    font-weight:300;
    letter-spacing:.3px;
    text-transform:uppercase
}

a.navbar-item:hover {
    background-color:transparent!important;
    color:#f83666!important
}

.header__sign-in {
    color:#fff;
    display:block;
    font-size:13px;
    font-weight:500;
    letter-spacing:1px;
    text-transform:uppercase
}

.header__sign-in:hover {
    opacity:1
}

.friend_card {
    position: relative;
    border-radius: 2px;
    border: 1px dashed rgba(214, 67, 86, 0.5);
}

.friend_card .title {
    color: rgba(255, 255, 255, 0.7);
}