.show_card {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    z-index: 9999;
}

.show_card:hover {
    transform: scale(1.1);
    animation-name: show_card;
    background-color: #b5b5b5;
    animation-duration: 1s;
}
@keyframes show_card {
    from {background-color: #eeeeee
    }
    to {background-color: #b5b5b5
    }
}

