.show_card {
    transition: transform .2s; /* Animation */
    margin: 0 auto;
    z-index: 1;
}

.show_card:hover {
    transform: scale(1.05);
    animation-name: show_card;
    animation-duration: 1s;
}

.add_show:hover {
    background-color: #d0faea;
}

.remove_show:hover {
    background-color: #ffd7dc;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
}

